@using BooksBlog.ViewModels;
@model IEnumerable<GuestPostViewModel>

<header class="intro-header" style="background-image: url('Images/books.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1></h1>
                    <hr class="small">
                    <span class="subheading">Books are a uniquely portable magic</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            @foreach (var post in Model)
            {
                <div class="post-preview">
                    <a href="Home/Info/@post.Id">
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @Html.Raw(post.Content)
                        </h3>
                    </a>
                    <p class="post-meta">Posted on @post.CreatedOn</p>
                    <p class="post-meta">Comments: @post.Comments.Count</p>
                    <p class="post-meta">Category @Html.ActionLink(@post.Category.Name, "FilterByCategory", "Home", new { Id = post.Category.Id }, null)</p>
                </div>
                <hr>
            }
        </div>

        <div class="col-md-3 sidebar-gutter">
            <aside>
                <!-- sidebar-widget -->
                <div class="sidebar-widget">
                    <h3 class="sidebar-title">About Me</h3>
                    <div class="widget-container widget-about">
                        <a href="post.html"><img src="~/Content/Images/author.jpg" alt=""></a>
                        <h4>Jamie Mooz</h4>
                        <div class="author-title">Dreamer</div>
                        <p>Gazing through the window at the world outside</p>
                        <p>Wondering if mother earth will survive </p>
                        <p>Hoping that mankind will stop abusing her, sometime.</p>
                    </div>
                </div>
                <!-- sidebar-widget -->
                <div class="sidebar-widget">
                    <h3 class="sidebar-title">Featured Posts</h3>
                    <div class="widget-container">
                        <article class="widget-post">
                            <div class="post-image">
                                <a href="post.html"><img src="images/90x60-1.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="post.html">The State of the Word 2014</a></h2>
                                <div class="post-meta">
                                    <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                </div>
                            </div>
                        </article>
                        <article class="widget-post">
                            <div class="post-image">
                                <a href="post.html"><img src="images/90x60-2.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="post.html">Why The Muppets Needs to Channel 30 Rock</a></h2>
                                <div class="post-meta">
                                    <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                </div>
                            </div>
                        </article>
                        <article class="widget-post">
                            <div class="post-image">
                                <a href="post.html"><img src="images/90x60-3.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="post.html">The State of the Word 2014</a></h2>
                                <div class="post-meta">
                                    <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                </div>
                            </div>
                        </article>
                        <article class="widget-post">
                            <div class="post-image">
                                <a href="post.html"><img src="images/90x60-4.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="post.html">Vintage-Inspired Finds for Your Home</a></h2>
                                <div class="post-meta">
                                    <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                </div>
                            </div>
                        </article>
                        <article class="widget-post">
                            <div class="post-image">
                                <a href="post.html"><img src="images/90x60-5.jpg" alt=""></a>
                            </div>
                            <div class="post-body">
                                <h2><a href="post.html">The State of the Word 2014</a></h2>
                                <div class="post-meta">
                                    <span><i class="fa fa-clock-o"></i> 2. august 2015</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- sidebar-widget -->
                <div class="sidebar-widget">
                    <h3 class="sidebar-title">Socials</h3>
                    <div class="widget-container">
                        <div class="widget-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-reddit"></i></a>
                        </div>
                    </div>
                </div>
                <!-- sidebar-widget -->
                <div class="sidebar-widget">
                    <h3 class="sidebar-title">Categories</h3>
                    <div class="widget-container">
                        <ul>
                            @foreach (var item in Model)
                            {<li>@Html.ActionLink(item.Category.Name, "FilterByCategory", "Home", new { Id = item.Category.Id }, null)
                            </li>}
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Featured</a></li>
                            <li><a href="#">Graphics</a></li>
                            <li><a href="#">Peoples</a></li>
                            <li><a href="#">Uncategorized</a></li>
                        </ul>
                    </div>
                </div>
        </div>

    </div>
</div>


<!-- Pager -->
@*<ul class="pager">
        <li class="next">
            <a href="#">Older Posts &rarr;</a>
        </li>
    </ul>*@
